    svg {
        font: 10px sans-serif;
        shape-rendering: crispEdges;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 1;
    }

    .tick line {
        opacity: 0.2;
    }


    /* Andere SVG */
    path {
        stroke: black;
        stroke-width: 2;
        fill: none;
    }
