svg {
  font-weight: normal;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1;
}

.tick line {
  opacity: 0.2;
}

/* Andere SVG */
path {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

/* SB */
#sequence {
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart path {
  stroke: #fff;
}